<div class="container mt-5">
  <h1>Kata FOO BAR QUIX</h1>
  <p>Veuillez entrer un nombre pour le transformer selon les règles du kata.</p>
  <button class="btn btn-primary" data-toggle="modal" data-target="#numberModal">Tester l'API</button>

  <div *ngIf="result" class="mt-3">
    <h3>Résultat:</h3>
    <p>{{ result }}</p>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="numberModal" tabindex="-1" aria-labelledby="numberModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="numberModalLabel">Entrer un nombre</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="transformNumber()">
            <div class="mb-3">
              <label for="numberInput" class="form-label">Nombre</label>
              <input type="number" class="form-control" id="numberInput" [(ngModel)]="numberInput" name="numberInput" required>
            </div>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Transformer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
